<div class="comments">
  <PaperSubheader>Comments</PaperSubheader>
  {{#each (array 1 2 3 4 5 6 7 8 9 10) as |comment|}}
    <PaperItem @class="md-2-line">
      <img src="https://place-hold.it/100x100/666/fff" alt="Image placeholder" class="md-avatar">
      <div class="md-list-item-text">
        <div class="post-description"><span class="author">John Doe</span></div>
        <div class="post-description">on <span class="date">17th January 2015</span></div>
      </div>
    </PaperItem>
    <div class="post-content">
      Air plant semiotics taxidermy, fanny pack portland put a bird on it mlkshk godard YOLO hashtag cardigan keytar street art schlitz echo park. Butcher gochujang copper mug tbh, vaporware microdosing slow-carb synth af gluten-free tumblr pug taiyaki cronut.
    </div>
  {{/each}}
</div>